* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	width: 1440px;
}

.header {
	height: 735px;
	background-image: url(../img/bg/header-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 16px 120px 0;
	margin-bottom: 64px;
}

.top {
	display: flex;
	border: 0.5px solid rgba(255, 255, 255, 0.8);
	padding-bottom: 14px;
	margin-bottom: 64px;
}

.logo--top path {
	fill: #fff;
}

.logo--footer path {
	fill: #000;
}

.top__heading {
	color: rgb(255, 255, 255);
	font-size: 64px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: 0;
	margin-bottom: 16px;
	width: 700px;
}

.top__motto {
	color: rgb(255, 255, 255);
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0;
	margin-bottom: 16px;
}

.top__link {
	color: rgb(255, 255, 255);
	line-height: 24px;
	letter-spacing: 0;
	text-decoration-line: underline;
}

.top__link:hover {
	color: rgb(136, 136, 136);
	font-family: Montserrat;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration: none;
}

.top__search-form {
	border: 1px solid rgb(255, 255, 255);
	border-radius: 20px;
	background: rgba(255, 255, 255, 0);
	width: 288px;
	height: 44px;
	color: rgb(255, 255, 255);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0;
	outline: none;
	padding: 12px 32px;
}

/*font-family and font size in the placeholder must be specified specifically*/
.top__search-form::placeholder {
	color: rgb(255, 255, 255);
	line-height: 20px;
	letter-spacing: 0;
	font-size: 16px;
	font-family: Montserrat;
}

.top__search-form:focus {
	background-color: rgb(255, 255, 255);
	color: #000;
}

.top__nav-item {
	color: #fff;
	line-height: 20px;
	letter-spacing: 0;
}

.top__nav-item:hover {
	color: rgb(136, 136, 136);
}

.main {
	padding: 0 120px 64px;
}

.for {
	margin-bottom: 64px;
}

.for__heading,
.action-box__heading,
.product-card__heading {
	color: rgb(0, 0, 0);
	font-size: 48px;
	font-weight: 600;
	line-height: 59px;
	letter-spacing: 0;
	margin-bottom: 32px;
}

.for__content {
	color: rgb(255, 255, 255);
	font-size: 34px;
	font-weight: 600;
	line-height: 41px;
	letter-spacing: 0;
	text-align: center;
}

.for__item {
	background-repeat: no-repeat;
	background-position: center;
	height: 415px;
}

.for__item--rest {
	width: 583px;
	background-image: url(../img/directions/rest.jpg);
}

.for__item--sport {
	width: 583px;
	background-image: url(../img/directions/sport.jpg);
}

.for__item--hobby {
	width: 378px;
	background-image: url(../img/directions/hobby.jpg);
}

.for__item--children {
	width: 378px;
	background-image: url(../img/directions/children.jpg);
}

.for__item--family {
	width: 378px;
	background-image: url(../img/directions/family.jpg);
}

.action-box {
	margin-bottom: 72px;
}

.action,
.product {
	width: 378px;
}

.action__img,
.product__img {
	height: 250px;
	width: 370px;
	margin-bottom: 10px;
}

.action__heading,
.product__heading {
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
	margin-bottom: 9px;
}

.action__description,
.product__description {
	color: rgb(136, 136, 136);
	font-size: 24px;
	line-height: 17px;
	letter-spacing: 0;
	margin-bottom: 12px;
}

.action__prices,
.product__prices {
	display: flex;
	color: rgb(5, 5, 5);
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
}

.action__prices--last {
	color: rgb(136, 136, 136);
	text-decoration-line: line-through;
}

.product-box {
	margin-bottom: 40px;
}

.link-box {
	color: rgb(0, 0, 0);
	line-height: 24px;
	letter-spacing: 0;
	text-decoration-line: underline;
	display: inline-block;
}

.link-box:hover {
	color: rgb(136, 136, 136);
	font-family: Montserrat;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration: none;
}

.footer {
	background: rgb(247, 246, 246);
	display: flex;
	padding: 32px 120px 60px;
}

.footer-content {
	display: flex;
}

.footer__info {
	display: flex;
}

.footer-icon:hover path {
	fill: #000;
}

.footer__nav-heading {
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
}

.footer__nav-menu {
	list-style-type: none;
}

.footer__nav-menu a,
.footer__nav a {
	color: rgb(136, 136, 136);
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0;
}

.footer__form {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.footer__form-heading {
	color: rgb(0, 0, 0);
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0;
}

.footer__form-input {
	box-sizing: border-box;
	border: 1px solid rgb(196, 196, 196);
	border-radius: 16px;
	background: rgb(255, 255, 255);
	width: 260px;
	height: 40px;
	outline: none;
	padding: 12px 17px;
	color: rgb(0, 0, 0);
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0;
}

/*font-family and font-size in placeholder must be specified specifically*/
.footer__form-input::placeholder {
	color: rgb(196, 196, 196);
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0;
	font-size: 12px;
	font-family: Montserrat;
}

.footer-button {
	border-radius: 16px;
	background: rgba(222, 215, 215, 0.41);
	color: rgb(0, 0, 0);
	font-family: Montserrat;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0;
	border: none;
	width: 260px;
	height: 40px;
	cursor: pointer;
}

.footer-button:hover {
	background: rgba(0, 0, 0);
	color: #fff;
}

/*Styles for the catalog page*/
.header--catalog {
	background-image: url(./img/bg/header-bg-catalog.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 16px 120px 0;
}

.top--catalog {
	margin-bottom: 127px;
}

.top__heading--catalog {
	width: auto;
}

.top-heading-catalog {
	display: flex;
}

.breadcrumbs a {
	color: rgb(0, 0, 0);
	line-height: 32px;
	letter-spacing: 0;
}

.breadcrumbs-link {
	list-style-type: none;
	display: flex;
}

.breadcrumbs-link li:not(:last-child) a::after {
	content: '/';
	padding-right: 10px;
	padding-left: 10px;
}

.sort-order {
	width: 288px;
	height: 41px;
	box-sizing: border-box;
	border: 1px solid rgb(196, 196, 196);
	border-radius: 20px;
	color: rgb(0, 0, 0);
	/*For select, as well as placeholder, font styles must be specified specifically*/
	font-family: Montserrat;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
	padding-left: 14px;
	padding-right: 14px;
}

.product-box--catalog {
  margin-bottom: 32px;
}

.button-show-more {
	border: none;
	/*For buttons, font styles also need to be specified specifically*/
	font-family: Montserrat;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration-line: underline;
	background-color: #fff;
	padding: 0;
}

/*Styles for the cart page*/

.header--cart {
	height: 735px;
	background-image: url(./img/bg/header-bg-cart.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top--cart {
  margin-bottom: 144px;
}

.top__heading--cart {
  width: auto;
}

.main--cart {
  margin-bottom: 120px;
  padding-bottom: 10px;
}

.order-block {
  display: flex;
  margin-bottom: 64px;
}

.cart-content__name {
  display: flex;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}

.cart-content__item {
	display: flex;
}

.cart-content--item-left {
	border-top: 0.5px solid rgb(202, 205, 216);
	display: flex;
}

.cart-content--img-top {
	width: 173px;
}

.cart-content__info {
  width: 276px;
}

.cart-content__info-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 14px;
  display: inline-block;
}

.cart-content__info-description {
  color: rgb(136, 136, 136);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  margin-bottom: 16px;
}

.cart-content__price {
	color: rgb(5, 5, 5);
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0;
	margin-bottom: 15px;
}

.cart-link__choice {
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 210%;
	letter-spacing: 0;
	text-decoration-line: underline;
}

.cart-content__input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  border: none;
  outline: none;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
}

.cart-button {
	display: flex;
}

.cart-button__reset,
.cart-button__route {
  width: 200px;
  height: 37px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #fff;
}

.order-form {
  width: 379px;
  height: 556px;
  border-radius: 20px;
  background: rgb(247, 246, 246);
  color: rgb(0, 0, 0);
  padding: 42px 44px;
}

.order-heading {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
  margin-bottom: 35px;
}

.order-form__input {
  border: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  width: 288px;
  background: rgb(247, 246, 246);
  outline: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
  padding-bottom: 3px;
  margin-bottom: 44px;
}

.order-form__input::placeholder {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0;
}

.order-price {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;
  margin-top: 64px;
  margin-bottom: 18px;
  text-align: center;
}

.order-button {
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  font-family: Montserrat;
  font-size: 16px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #000;
  color: #fff;
}

.action-box--cart {
  margin-bottom: 0;
}
