* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: Montserrat, sans-serif;
	font-style: normal;
}

.center {
	padding-left: calc(50% - 600px);
	padding-right: calc(50% - 600px);
}

.header {
	height: 735px;
	background-image: url(./img/bg/header-bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 64px;
	padding-top: 16px;
}

.top {
	@include flexBetween();
	align-items: center;
	border-bottom: $line;
	padding-bottom: 14px;
	margin-bottom: 64px;
}

.logo--top path {
	fill: $colorLight;
}

.logo--footer path {
	fill: $colorDark;
}

.top__content {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.top__heading {
	color: $colorLight;
	font-size: 64px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: 0;
	width: 700px;
}

.top__motto {
	color: $colorLight;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0;
}

.top__link {
	color: $colorLight;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration-line: underline;
}

.top__link:hover {
	color: $colorGray;
	font-family: Montserrat;
	font-size: $fontSize;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration: none;
}

.top__search-form {
	border: 1px solid $colorLight;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0);
	width: 288px;
	height: 44px;
	color: $colorLight;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	outline: none;
	padding: 12px 32px;
}

.top__search-form::placeholder {
	color: $colorLight;
	line-height: 20px;
	letter-spacing: 0;
	font-size: $fontSize;
	font-family: Montserrat;
}

.top__search-form:focus {
	background-color: $colorLight;
	color: $colorDark;
}

.top__nav {
	display: flex;
	column-gap: 32px;
}

.top__nav-item {
	color: $colorLight;
	line-height: 20px;
	letter-spacing: 0;
}

.top__nav-item:hover {
	color: $colorGray;
}

.main {
	padding-bottom: 64px;
}

.for {
	margin-bottom: 64px;
}

.for__heading,
.action-box__heading,
.product-box__heading {
	color: $colorDark;
	font-size: 48px;
	font-weight: 600;
	line-height: 59px;
	letter-spacing: 0;
	margin-bottom: 32px;
}

.for__content {
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(12, 1fr);
	color: $colorLight;
	font-size: 34px;
	font-weight: 600;
	line-height: 41px;
	letter-spacing: 0;
	text-align: center;
}

.for__item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	height: 415px;
}

.for__item--rest {
	grid-column: span 6;
	width: 583px;
	background-image: url(./img/directions/rest.jpg);
}

.for__item--sport {
	grid-column: span 6;
	width: 583px;
	background-image: url(./img/directions/sport.jpg);
}

.for__item--hobby {
	grid-column: span 4;
	width: 378px;
	background-image: url(./img/directions/hobby.jpg);
}

.for__item--kids {
	grid-column: span 4;
	width: 378px;
	background-image: url(./img/directions/kids.jpg);
}

.for__item--family {
	grid-column: span 4;
	width: 378px;
	background-image: url(./img/directions/family.jpg);
}

.action-box {
	margin-bottom: 72px;
}

.action-box__content {
	display: flex;
	flex-flow: row wrap;
	gap: 36px 32px;
}

.action,
.product {
	width: ($widthContent - 32px * 2) / 3;
	position: relative;
}

.action__img,
.product__img {
	height: 250px;
	width: 378px;
	margin-bottom: 10px;
}

.in-cart-icon,
.like-icon {
	position: absolute;
	top: 10px;
	cursor: pointer;
}

.in-cart-icon {
	right: 55px;
}

.like-icon {
	right: 12px;
}

.in-cart-icon:hover path {
	fill: $colorDark;
}

.like-icon:hover path {
	fill: $colorDark;
}

.action__heading,
.product__heading {
	color: $colorDark;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0%;
	text-align: left;
	margin-bottom: 9px;
}

.action__description,
.product__description {
	color: $colorGray;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0;
	margin-bottom: 12px;
}

.action__prices,
.product__price {
	display: flex;
	column-gap: 44px;
	color: rgb(5, 5, 5);
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
}

.action__prices--last {
	color: $colorGray;
	text-decoration-line: line-through;
}

.product-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 56px 32px;
}

.product-box {
	margin-bottom: 40px;
}

.link-box {
	color: $colorDark;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration-line: underline;
	display: inline-block;
}

.link-box:hover {
	color: $colorGray;
	font-family: Montserrat;
	font-size: $fontSize;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration: none;
}

.footer {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background: rgb(247, 246, 246);
	padding-top: 32px;
	padding-bottom: 60px;
}

.footer a {
	grid-column: span 4;
}

.footer-content {
	grid-column: span 8;
	display: flex;
	column-gap: 192px;
}

.footer__info {
	@include flexBetween();
	column-gap: 129px;
}

.footer-icon:hover path {
	fill: $colorDark;
}

.footer__nav,
.footer__nav-heading,
.footer__nav-menu {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.footer__nav-heading {
	color: $colorDark;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
}

.footer__nav-menu {
	list-style-type: none;
}

.footer__nav-menu a,
.footer__nav a {
	color: $colorGray;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: 0;
}

.footer__icons {
	padding-top: 2px;
	display: flex;
	column-gap: 20px;
}

.footer__form {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.footer__form-heading {
	color: $colorDark;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0%;
	text-align: left;
	white-space: nowrap;
}

.footer__form-input {
	box-sizing: border-box;
	border: 1px solid rgb(196, 196, 196);
	border-radius: 16px;
	background: $colorLight;
	width: 260px;
	height: 40px;
	outline: none;
	padding: 12px 17px;
	color: $colorDark;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0;
}

.footer__form-input::placeholder {
	color: rgb(196, 196, 196);
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0;
	font-size: 12px;
	font-family: Montserrat;
}

.footer-button {
	border-radius: 16px;
	background: rgba(222, 215, 215, 0.41);
	color: $colorDark;
	font-family: Montserrat;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0;
	border: none;
	width: 260px;
	height: 40px;
	cursor: pointer;
}

.footer-button:hover {
	background: rgba(0, 0, 0);
	color: $colorLight;
}

/*Styles for the catalog page*/

.header--catalog {
	height: 430px;
	background-image: url(./img/bg/header-bg-catalog.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top--catalog {
	margin-bottom: 127px;
}

.top__heading--catalog {
	width: auto;
}

.top-heading-catalog {
	@include flexBetween();
	padding-bottom: 32px;
	align-items: center;
}

.breadcrumbs a {
	color: $colorDark;
	line-height: 32px;
	letter-spacing: 0;
}

.breadcrumbs-link {
	list-style-type: none;
	display: flex;
}

.breadcrumbs-link li:not(:last-child) a::after {
	content: '/';
	padding-right: 10px;
	padding-left: 10px;
}

.select {
	position: relative;
}

.select select {
	width: 288px;
	height: 41px;
	box-sizing: border-box;
	border: 1px solid rgb(196, 196, 196);
	border-radius: 20px;
	color: $colorDark;
	font-family: Montserrat;
	font-size: $fontSize;
	line-height: 20px;
	letter-spacing: 0;
	padding-left: 14px;
	padding-right: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select::after {
	content: '';
	width: 20px;
	height: 11px;
	position: absolute;
	background-image: url(./img/icons/polygon.svg);
	background-repeat: no-repeat;
	top: 15px;
	right: 15px;
	pointer-events: none;
}

.sort-order {
	cursor: pointer;
}

.product-box--catalog {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 32px;
	margin-bottom: 32px;
}

.button-show-more {
	border: none;
	font-family: Montserrat;
	line-height: 24px;
	letter-spacing: 0;
	text-decoration-line: underline;
	background-color: $colorLight;
}

/*Styles for the cart page*/
.header--cart {
	height: 400px;
	background-image: url(./img/bg/header-bg-cart.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top--cart {
	margin-bottom: 144px;
}

.top__heading--cart {
	width: auto;
}

.main--cart {
	margin-bottom: 120px;
	padding-bottom: 10px;
}

.order-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 33px;
	margin-bottom: 64px;
}

.cart-content {
	grid-column: span 8;
}

.cart-content__name {
	@include flexBetween();
	line-height: 20px;
	letter-spacing: 0px;
	color: $colorDark;
	margin-bottom: 14px;
}

.cart-content__item {
	display: flex;
	flex-direction: row;
	column-gap: 31px;
	align-items: flex-start;
	width: 786px;
	padding-top: 25px;
	padding-bottom: 32px;
	border-top: 0.5px solid rgb(202, 205, 216);
}

.cart-content--item-left {
	display: flex;
}

.cart-content--img-top {
	width: 173px;
	height: 173px;
}

.cart-content__product {
	@include flexBetween();
	width: 100%;
}

.cart-content__info {
	width: 276px;
}

.cart-content__info-heading {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
	color: $colorDark;
	margin-bottom: 14px;
	display: inline-block;
}

.cart-content__info-description {
	color: $colorGray;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0;
	margin-bottom: 16px;
}

.cart-content__price {
	color: rgb(5, 5, 5);
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0;
	margin-bottom: 15px;
}

.cart-link {
	display: flex;
	column-gap: 30px;
}

.cart-link__choice {
	color: $colorDark;
	font-size: 14px;
	line-height: 210%;
	letter-spacing: 0;
	text-decoration-line: underline;
}

.cart-content__input {
	width: 71px;
	height: 51px;
	border-radius: 6px;
	background: rgb(247, 246, 246);
	border: none;
	outline: none;
	text-align: center;
	color: $colorDark;
	font-size: 14px;
	font-weight: 600;
	line-height: 210%;
	letter-spacing: 0px;
	text-align: center;
}

.cart-button {
	display: flex;
	column-gap: 7px;
}

.cart-button__reset,
.cart-button__route {
	width: 200px;
	height: 37px;
	border: 1px solid $colorDark;
	border-radius: 50px;
	color: rgb(2, 2, 2);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: center;
	background-color: $colorLight;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.cart-button__reset:hover,
.cart-button__route:hover {
	color: $colorLight;
	background-color: $colorDark;
}

.order-form {
	grid-column: span 4;
	height: 556px;
	border-radius: 20px;
	background: rgb(247, 246, 246);
	color: $colorDark;
	padding: 42px 44px;
}

.order-heading {
	color: $colorDark;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0;
	margin-bottom: 35px;
}

.order-form__input {
	border: none;
	border-bottom: 1px solid rgb(202, 205, 216);
	width: 288px;
	background: rgb(247, 246, 246);
	outline: none;
	color: $colorDark;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0;
	padding-bottom: 3px;
	margin-bottom: 44px;
}

.order-form__input::placeholder {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0;
}

.order-price {
	color: $colorDark;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0;
	margin-top: 64px;
	margin-bottom: 18px;
	text-align: center;
}

.order-button {
	width: 290px;
	height: 41px;
	box-sizing: border-box;
	border: 1px solid rgb(4, 4, 4);
	border-radius: 20px;
	font-family: Montserrat;
	font-size: $fontSize;
	cursor: pointer;
}

.order-button:hover {
	background-color: $colorDark;
	color: $colorLight;
}

.action-box--cart {
	margin-bottom: 0;
}

@import 'number';
@import 'tablet';
@import 'mobile';